<nav>
    <a routerLink="/home">Home Page</a>
    &nbsp;
    <a routerLink="/about">About Page</a>
    &nbsp;
    <a href="https://www.google.com" target="_blank">Google</a>
    &nbsp;
    <a href="javascript:void()" (click)="redirectToHome()">Home Page</a>
    &nbsp;
</nav>

<!-- routerLink directive kullanırız -->
<!-- sayfa reload olmadan yönlenebilir. -->
<!-- routerLink kullanı angular uygulaması içerisinde isek yönlendirme yapmak için href yerine tercih ederiz. -->


<router-outlet></router-outlet>